In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
d=pd.read_csv("/kaggle/input/car-data/cardata.csv")
d.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [2]:
d.head(4)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0

In [3]:
import category_encoders as ce
ec=ce.OrdinalEncoder(cols=['Car_Name','Year','Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner'])
d= ec.fit_transform(d)

In [4]:
d.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,1,1,1,1,1,1,1,1,1
1,2,2,2,2,2,2,1,1,1
2,3,3,3,3,3,1,1,1,1
3,4,4,4,4,4,1,1,1,1
4,5,1,5,5,5,2,1,1,1

In [5]:
from sklearn.model_selection import train_test_split
ektrain,ektest=train_test_split(d,test_size=0.3,random_state=2)
ektrain

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
279,95,1,128,124,191,1,1,1,1
224,94,2,119,125,151,1,1,2,1
109,30,3,77,79,58,1,2,1,1
64,16,3,50,52,57,2,1,2,1
14,10,8,14,15,15,1,1,1,1
...,...,...,...,...,...,...,...,...,...
75,20,6,54,48,65,1,1,1,1
22,2,4,19,21,21,1,1,2,1
72,18,2,10,50,63,1,1,1,1
15,9,7,15,16,2,2,1,1,1
168,64,2,96,105,61,1,2,1,1

In [6]:
ektrain.reset_index(drop=True,inplace=True)
ektest.reset_index(drop=True,inplace=True)
ektrain

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,95,1,128,124,191,1,1,1,1
1,94,2,119,125,151,1,1,2,1
2,30,3,77,79,58,1,2,1,1
3,16,3,50,52,57,2,1,2,1
4,10,8,14,15,15,1,1,1,1
...,...,...,...,...,...,...,...,...,...
205,20,6,54,48,65,1,1,1,1
206,2,4,19,21,21,1,1,2,1
207,18,2,10,50,63,1,1,1,1
208,9,7,15,16,2,2,1,1,1
209,64,2,96,105,61,1,2,1,1

In [7]:
 
xtrain=ektrain.drop(["Transmission"],axis=1)
ytrain=ektrain["Transmission"]
xtest=ektest.drop(["Transmission"],axis=1)
ytest=ektest["Transmission"]
xtrain

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Owner
0,95,1,128,124,191,1,1,1
1,94,2,119,125,151,1,1,1
2,30,3,77,79,58,1,2,1
3,16,3,50,52,57,2,1,1
4,10,8,14,15,15,1,1,1
...,...,...,...,...,...,...,...,...
205,20,6,54,48,65,1,1,1
206,2,4,19,21,21,1,1,1
207,18,2,10,50,63,1,1,1
208,9,7,15,16,2,2,1,1
209,64,2,96,105,61,1,2,1

In [8]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='gini',max_depth=3,random_state=0)
model.fit(xtrain,ytrain)

DecisionTreeClassifier(max_depth=3, random_state=0)

In [9]:
from sklearn.metrics import accuracy_score
y_pred=model.predict(xtest)
print("accuracy score=",accuracy_score(ytest,y_pred)*100)

accuracy score= 89.01098901098901

In [10]:
from sklearn.metrics import classification_report
print("classification report",classification_report(ytest,y_pred))

classification report               precision    recall  f1-score   support

           1       0.91      0.98      0.94        81
           2       0.50      0.20      0.29        10

    accuracy                           0.89        91
   macro avg       0.70      0.59      0.61        91
weighted avg       0.86      0.89      0.87        91

In [11]:
from sklearn.metrics import confusion_matrix
print("confusion matrix",confusion_matrix(ytest,y_pred))

confusion matrix [[79  2]
 [ 8  2]]